.main_wrap {
	overflow-y: scroll;
}

.post {
	border-radius: 13px;
	background-color: #ffffff;
	max-width: 60%;
	margin-inline: auto;
	margin-top: 2rem;
	color: #000;
	box-shadow: rgba(99, 99, 99, 0.271) 1px 2px 8px 0px;
}

.post_desc {
	border: 3px dashed transparent;
	padding: 0 1rem 1rem 1rem;
}

.post_desc span {
	color: #747474;
}

.post h1 {
	font-size: 2.5rem;
	margin: 1.2rem 0;
	align-items: baseline;
	margin-right: 0.5rem;
}

.post p {
	font-size: 15px;
	margin: 1.2rem 0;
}

.post:hover {
	box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.448);
}

.post h1 i {
	font-size: 1rem;
	margin-right: 0.5rem;
	color: #3595f1;
	top: -0.2rem;
	position: relative;
}

.stats {
	position: relative;
	width: 100%;
	color: #70757b;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 1.5rem;
}

.stats i {
	font-size: 1.5rem;
	margin-right: 0.5rem;
	color: #3595f1;
}

.stats a {
	margin-right: 0.5rem;
	color: rgb(112, 117, 123);
}

.fa-thumbs-up:hover {
	color: #3595f1;
	font-size: 1.6rem;
	font-weight: bold;
}

.fa-comment:hover {
	color: #3595f1;
	font-size: 1.6rem;
	font-weight: bold;
}

.stats div {
	margin-right: 1rem;
	height: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

/* new post css starts here */
.new-post {
	max-width: 60%;
	padding: 20px 50px;
  min-height: unset !important;
}

#new-post-btn {
  display: none;
}

#new-post-btn:checked ~ #new-post-form {
  display: block;
}

.new-post .create {
	display: flex;
	align-items: center;
}

.new-post h1 {
	font-size: 2.5rem;
	margin: 0;
	text-align: center;
}

.new-post form {
  display: none;
}

.new-post label {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	color: #000;
}

.new-post input {
	width: 100%;
	padding: 1rem;
	margin: 0.2rem 0;
	border-radius: 8px;
	border: 1px solid #3595f1;
	font-size: 1.2rem;
}

.new-post select {
	width: 100%;
	padding: 1rem;
	margin: 0.2rem 0;
	border-radius: 8px;
	border: 1px solid #3595f1;
	font-size: 1rem;
}

.new-post textarea {
	width: 100%;
	padding: 1rem;
	margin: 0;
	height: 10rem;
	border-radius: 8px;
	border: 1px solid #3595f1;
	font-size: 1rem;
	resize: none;
}

.new-post input[type="submit"] {
	width: 30%;
	margin-inline: auto;
	padding: 0.5rem;
	margin: 2rem auto 1rem auto;
	border-radius: 8px;
	border: 1px solid #3595f1;
	font-size: 1.2rem;
	background-color: rgb(208, 217, 225);
	color: #000;
	cursor: pointer;
}

.new-post input[type="submit"]:hover {
	background-color: #3595f1;
	color: #fff;
}
/* new post css ends here */

/* Filter css starts here */


.filter_wrap {
  margin: 20px auto 0 auto;
  max-width: 90%;
  width: 80%;
  /* padding: 0 0.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_wrap form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter_wrap select {
  padding: 10px 20px;
  border-radius: 13px;
  background-color: #fff;
  border: 1px solid gray;
	font-size: 1.2rem;
}

.filter_wrap input {
  padding: 10px 20px;
  border-radius: 13px;
  background-color: #3596f1;
  border: 1px solid gray;
}

#filterTerm {
  margin-left: 40px;
  margin-right: 20px;
}

.filter input {
  margin-right: 40px;
}

#filterListing {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filterListing option {
  width: 100%;
}

.filter input[type="submit"], .filter_wrap a{
	border: 1px solid #3595f1;
	font-size: 1.2rem;
	background-color: rgb(162, 212, 255);
	color: #000;
	cursor: pointer;
}

.filter_wrap a {
	padding: 10px 30px;
	border-radius: 13px;
	background-color: #3596f1d3;
	border: 1px solid #0084ff;
}

.filter_wrap a button{
	font-size: 1.2rem;
	color: #000;
}

.filter input[type="submit"]:hover, .filter_wrap a:hover{
	background-color: #0084ff;
	color: #fff;
	border: 1px solid #000;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.filter_wrap a:hover button{
	color: #fff;
}

/* Filter css ends here */

/* Post style starts here */
.posts {
	padding: 0 0 30px 0;
	width: 100%;
	height: calc(100% - 40px);
	overflow-y: scroll;
}

/* Hiding scroll bar while making it still scrollable */
.posts {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.posts::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.post {
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
	min-height: 150px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	position: relative;
}

/* post header (user profile, name, date, etc) */
.post_header {
	width: 100%;
	height: 70px;
	padding: 0 20px 0 15px;
	background-color: #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post_avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.post_info {
	width: calc(100% - 50px - 15px);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post_term {
	font-size: 13px;
}

.like-btn.liked i {
	color: #e9a81e;
}

@media (max-width: 1200px){
	.post_desc p{
		font-size: 1.2rem;
	}
	.post_desc b{
		font-size: 1rem;
	}
	.post_user{
		font-size: 1.2rem;
	}
	.post{
		max-width: 90%;
	}
}

/* Mobile responsive starts here */
@media (max-width: 796px) {
  .filter_wrap {
    flex-direction: column;
  }

  .filter_wrap form {
    flex-direction: column;
  }

  #filterTerm {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #filterListing select {
    /* max-width: 400px; */
    width: 80%;
  }
  
  .filter input {
    margin: 0;
    margin-bottom: 10px;
  }
  
  #filterListing {
    margin: 0;
    margin-bottom: 5px;
  }

	.posts {
		padding: 0 0 20px 0;
	}
	.post_term {
		font-size: 0.8rem;
	}
	.post {
		max-width: 95%;
	}
	.program_btn {
		position: unset;
		margin-inline: auto;
		font-size: 1.6rem;
	}
	.program_btn span {
		display: unset;
	}
}
