.main_wrap {
    display: grid;
    grid-template-rows: 500px 1fr;
    grid-template-columns: 1fr;
    overflow-y: scroll;
}

.landing_pic {
    background: top / cover no-repeat url("../imgs/landingPhoto.jpg") ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cap {
    width: 50%;
    text-align: center;
    font-size: 30px;
    color: azure;
    /* background-color: rgb(201, 201, 201, 0.3); */
}

.landTitle {
    padding: 40px;
    font-size: 40px;
    text-align: center;
}

/* Style for the card container */
.card {
    width: 100%;
    height: 400px; /* height of 400px */
    background-color: #f0f8ff; /* light blue background color */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.right-card {
    width: 100%;
    /* max-width: 400px; */
    height: 400px; /* height of 400px */
    background-color: #f0f8ff; /* light blue background color */
    display: flex;
    align-items: center;
    justify-content: right;
}
  
  /* Style for the text on the left side */
.text-box {
    width: 400px;
    justify-content: center;
    /* align-items: center; */
    padding: 20px; /* padding for the text */
    font-size: 18px;
    text-align: center;
    color: #333; /* text color */
}

.text-title {
    font-size: 30px;
    margin-bottom: 40px;
}