.container {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_wrap {
    width: 60%;
    height: calc(100% - 200px);
    padding: 3%;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    position: relative;
}

.avatar {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    overflow: hidden;
}

.user_info {
    margin-left: 50px;
}

.user_name {
    font-size: 3rem;
}

.term_info {
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.term_info p {
    margin-top: 0;
    margin-right: 20px;
}

.term_info p:nth-child(2) {
    margin-top: 10px;
    padding-top: 10px;
    width: 60%;
    border-top: 3px solid black;
}

.edit_btn {
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #3596f1;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.profile_options {
    width: 60%;
}

.profile_options li {
    margin-top: 30px;
    width: 100%;
    height: 70px;
    padding: 3%;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1128px) {
    .profile_wrap {
        width: 80%;
        height: auto;
        align-items: center;
    }

    .avatar {
        width: 17rem;
        height: 17rem;
    }

    .user_info {
        display: flex;
        flex-direction: column;
    }

    .user_name {
        font-size: 2rem;
    }

    .term_info {
        font-size: 1.3rem;
    }

    .edit_btn {
        margin-top: 10px;
        font-size: 1rem;
    }

    .profile_options {
        width: 80%;
    }

    .profile_options li {
        font-size: 1.3rem;
    }
}

@media (max-width: 796px) {
    .profile_wrap {
        flex-direction: column;
    }

    .avatar {
        width: 10rem;
        height: 10rem;
    }

    .user_info {
        margin: 0;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .user_name {
        font-size: 1.5rem;
    }

    .term_info {
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-top: 10px;
    }

    .term_info p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .edit_btn {
        position: unset;
    }

    .profile_options li {
        height: 50px;
        margin-top: 20px;
        font-size: 1rem;
    }
}