@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; transition: all 0.2s; font-family: 'Poppins', sans-serif; }
a { text-decoration: none; color: black; }
ul { list-style: none; }
img { width: 100%; height: 100%; object-fit: cover; }
body { font-family: Arial, sans-serif; background-color: #e8e8e8; }

.wrap {
    /* max-width: 500px; */
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.main_wrap {
    width: 100%;
    height: calc(100vh - 60px);
}

.footer {
    display: none;
    overflow: hidden;
}

.footer a {
    color: #e3e3e3;
}

/* Adding some stuff */

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3rem;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.header {
    height: 60px;
    background-color: #263479;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 0 5%;
}

.logo-img {
    height: 80%;
    width: 6rem;
    object-fit: contain;
}

.logo {
    height: 100%;
    font-weight: bolder;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.logo span {
    color: #3595F1;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    /* padding: 2rem 2rem; */
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #fff;
}

.navbar i {
    margin-right: 0.6rem;
}

.navbar a:hover {
    background: #3596f1;
}

#menu-btn {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

main {
    padding-bottom: 3rem;
}

/* @media (max-width: 1300px) {
    .header {
        padding: 0 2rem;
    }
} */

@media (max-width: 1125px) {
    .hamburger {
        display: inline-block;
    }

    .home aside.side-content {
        top: 40%
    }

    .header .navbar {
        width: 100%;
        height: fit-content;
        position: absolute;
        flex-direction: column;
        top: 99%;
        right: 0;
        left: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background: linear-gradient(to bottom, #23487f, #23487fe6);
    }

    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 1.3rem;
        padding: 1rem;
    }

    .post p,
    .post a,
    .stats {
        font-size: 1.5rem;
    }
}

@media (max-width: 796px) {
    /* main {
        margin-top: 8rem;
    } */

    .main_wrap {
        height: calc(100vh - 60px - 50px);
    }

    .footer {
        width: 100%;
        height: 50px;
        background: #263479;
        padding-inline: 13%;
        color: #e3e3e3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    .footer .navbar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer a {
        font-size: 2.3rem;
    }

    .footer i {
        margin: 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 51%;
    }
}